@import "_reset";

$colorTextQuest: #99a18c;
$colorTextQuestImportant: #adae51;
$colorBorderPanel: #adabac;
$colorBgPanel: #1b2727;

%plane-circle {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate3d(0.8, 0.2, 0, 75deg);
    width: 170%;
    height: 150%;
    box-shadow: inset 16px 0 40px 3px rgba(#a09382,0.9),
      inset -3px 0 5px 2px rgba(255,255,255,0.16);
    background-color: transparent;
    border: 2px solid #a09382;
    border-radius: 50%;

    @media screen and (max-width: 1199px) {
        box-shadow: inset 10px 0 40px 3px rgba(#a09382,0.9),
      inset -3px 0 5px 2px rgba(255,255,255,0.16);
    }
    @media screen and (max-width: 575px) {
        box-shadow: inset 0px 0 32px 0px rgba(#a09382,0.9),
      inset -3px 0 5px 2px rgba(255,255,255,0.16);
    }
}

body {
    overflow:  hidden;
}
body > i {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    
    &.aminate {
        animation: stars linear infinite;
    }
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(150,192,219,1) 0%, rgba(77,111,205,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-bottom: 2px ridge $colorBorderPanel;
    box-sizing: border-box;

    @media screen and (max-width: 991px) { height: 80px; }
    &__block {
        flex-grow: 1;
        height: 100%;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        border-right: 2px ridge $colorBorderPanel;
        box-sizing: border-box;

        @media screen and (max-width: 1199px) { padding: 5px; }
        @media screen and (max-width: 991px) { font-size: 10px; }
        @media screen and (max-width: 767px) {
            &--player,
            &--achieves {
                display: none;
            }
            
        }
        @media screen and (max-width: 575px) { padding: 2px; }
        @media screen and (max-width: 479px) { 
            &--pos {
                display: none;
            
                & > span {
                    display: block;
                    margin-top: 15px;
                }
            }
        }
        &--avatar { 
            padding: 0 15px; 
            
            @media screen and (max-width: 1199px) { padding: 0 5px; }
            @media screen and (max-width: 575px) { padding: 0 2px; }
            @media screen and (max-width: 479px) { display: none; }
        }
        &--hamburger {
            display: none;
        
            @media screen and (max-width: 767px) {
                display: flex;
                align-items: center;
            }
        }
        &--admin { min-width: 63px; }
        span {
            margin-bottom: 4px;

            &:last-child { margin-bottom: 0; }
        }
    }
}
.avatar {
    display: block;
    height: 100%;
    border: 2px ridge #1d77bd;
    box-sizing: border-box;
    margin: 0 auto;
}
.player-text {
    text-align: center;
}
.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    button { 
        margin: 3px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        outline: none;
        cursor: pointer;

        &:hover, &:focus { box-shadow: 0 0 10px $colorBorderPanel inset; }
    }
    & .hide { display: none; }
    .player-controls__play,
    .player-controls__pause {
        width: 100px;
        height: 20px;
        border-radius: 5px;
    
        @media screen and (max-width: 767px) { width: 80px; }
    }
    
}
.lives {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (max-width: 991px) {
        height: 100%;
        width: 44px;
        flex-direction: column;
        align-items: center;
    }
    .life {
        width: 25px;
        height: 25px;
        background-image: url(../images/svg/rocket.svg);

        @media screen and (max-width: 991px) {
            width: 22px;
            height: 22px;
        }
    }
}
.step-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: red;
    outline: none;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.5s;
    
    @media screen and (max-width: 991px) {
        width: 68px;
        height: 68px;
    }
    &:focus, &:hover { background-color: #46b846; }
    &:disabled { background-color: #1d77bd; cursor: default; }
}
.step {
    width: 80px;
    height: 80px;
    background-color: #000;
    border: 2px ridge $colorBorderPanel;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 74px;
    line-height: 80px;
    color: $colorTextQuestImportant;
    text-align: center;

    @media screen and (max-width: 991px) {
        width: 68px;
        height: 68px;
        font-size: 60px;
        line-height: 68px;
    }
    
    &--admin {
        width: 120px;
        
        @media screen and (max-width: 991px) { width: 100px; }
        @media screen and (max-width: 479px) { width: 75px; }
        &:disabled { border-color: red; }
    }
}
.hamburger {
    position: relative;
    width: 42px;
    height: 42px;
    margin: auto 0;
    cursor: pointer;

    &__line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #000;
        border-radius: 4px;
        transition: 0.3s ease;

        &:nth-child(1) { top: 4px; }
        &:nth-child(2) { top: 19px; }
        &:nth-child(3) { bottom: 4px; }
    }
    &--open {
        .hamburger__line {
            &:nth-child(1) { transform: rotate(45deg) translate(10px, 10px); }
            &:nth-child(2) { transform: scale(0); }
            &:nth-child(3) { transform: rotate(-45deg) translate(10px, -10px); }
        }
    }
}
.achieves {
    width: 184px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    border: 2px ridge $colorBorderPanel;
    margin: 0 auto;
    box-sizing: border-box;
    
    @media screen and (max-width: 991px) { width: 164px; }
    @media screen and (max-width: 767px) { width: 84px; }
    .achieve {
        width: 36px;
        height: 36px;
        background-image: url(../images/achieves/achieves-sprite.jpg);
        background-size: cover;
        
        &--quest1 { background-position-x: 0; }
        &--quest5 { background-position-x: -36px; }
        &--quest9 { background-position-x: -180px; }
        &--quest10 { background-position-x: -108px; }
        &--quest13 { background-position-x: -288px; }
        &--quest15 { background-position-x: -252px; }
        &--quest17 { background-position-x: -72px; }
        &--quest20 { background-position-x: -216px; }
        &--quest21 { background-position-x: -144px; }
        &--quest23 { background-position-x: -324px; }

        @media screen and (max-width: 991px) {
            width: 32px;
            height: 32px;

            &--quest1 { background-position-x: 0; }
            &--quest5 { background-position-x: -32px; }
            &--quest9 { background-position-x: -160px; }
            &--quest10 { background-position-x: -96px; }
            &--quest13 { background-position-x: -256px; }
            &--quest15 { background-position-x: -224px; }
            &--quest17 { background-position-x: -64px; }
            &--quest20 { background-position-x: -192px; }
            &--quest21 { background-position-x: -128px; }
            &--quest23 { background-position-x: -288px; }
        }
        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;

            &--quest1 { background-position-x: 0; }
            &--quest5 { background-position-x: -20px; }
            &--quest9 { background-position-x: -100px; }
            &--quest10 { background-position-x: -60px; }
            &--quest13 { background-position-x: -160px; }
            &--quest15 { background-position-x: -140px; }
            &--quest17 { background-position-x: -40px; }
            &--quest20 { background-position-x: -120px; }
            &--quest21 { background-position-x: -80px; }
            &--quest23 { background-position-x: -180px; }
        }
    }
}
.plane-block {
    height: 100px;
    width: 100px;
    position: absolute;
    // bottom: 100px;
    // right: 50%;
    transition-duration: 2s;
    z-index: 99;
    transform: translateY(-150%);
    perspective: 6000px;
    
    @media screen and (max-width: 1199px) {
        width: 75px;
        height: 75px;
    }
    @media screen and (max-width: 767px) {
        width: 56px;
        height: 56px;
    }
    @media screen and (max-width: 479px) {
        width: 45px;
        height: 45px; 
    }
    &--rotate { transform: rotate(90deg) translateX(-50%); }
    &--reverse { transform: rotate(-90deg) translateX(50%); }
    &--finish { display: none; }
    &--start {
        transform: translateY(-300%);
    
        @media screen and (max-width: 575px) { transform: translateY(-700%); }
        @media screen and (max-width: 479px) { transform: translateY(-800%); }
    }
}
.plane {
    width: 100%;
    height: 100%;
    background-image: url(../images/ships/start-ship-1.png);
    background-size: cover;
    position: relative;
    animation: planeMove 3s linear infinite;
    
    &__fire {
        position: absolute;
        height: 30px;
        left: 50%;
        transform: translateX(-50%) scale(0);
        transform-origin: top;
        transition-duration: 0.3s;

        @media screen and (max-width: 767px) { height: 25px; }
        @media screen and (max-width: 479px) { height: 20px; }
        &--type-0 {
            bottom: -20px;
            width: 5px;
            background-image: linear-gradient(#00d0ff, transparent);

            @media screen and (max-width: 767px) {
                bottom: -18px;
                width: 4px;
            }
            @media screen and (max-width: 479px) {
                bottom: -15px;
                width: 3px;
            }
        }
        &--type-1 {
            bottom: -15px;
            width: 22px;
                    
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 5px;
                height: 100%;
                background-image: linear-gradient(#a5f88b, transparent);
            
                @media screen and (max-width: 767px) { width: 3px; }
                @media screen and (max-width: 479px) { width: 2px; }
            }
            &::before { left: 0; }
            &::after { right: 0; }
            @media screen and (max-width: 767px) {
                bottom: -18px;
                width: 12px;
            }
            @media screen and (max-width: 479px) {
                bottom: -15px;
                width: 10px;
            }
        }   
        &--type-2 {
            bottom: 0;
            width: 6px;
            background-image: linear-gradient(#e7e292, transparent);
        
            @media screen and (max-width: 767px) {
                bottom: -8px;
                width: 5px;
            }
            @media screen and (max-width: 479px) {
                bottom: -7px;
                width: 4px;
            }
        }
        &--type-3 {
            bottom: -5px;
            width: 16px;
            background-image: linear-gradient(#9ee8fa, transparent);
        
            @media screen and (max-width: 767px) {
                bottom: -10px;
                width: 10px;
            }
            @media screen and (max-width: 479px) {
                bottom: -12px;
                width: 8px;
            }
        }
        &--type-4 {
            bottom: -4px;
            width: 5px;
            background-image: linear-gradient(#8ed6f1, transparent);
        
            @media screen and (max-width: 767px) {
                bottom: -10px;
                width: 4px;
            }
            @media screen and (max-width: 479px) {
                bottom: -8px;
                width: 3px;
            }
        }
        &--animate { transform: translateX(-50%) scale(1); }
    }
}
.space-ship-1,
.space-ship-2,
.space-ship-3,
.space-ship-4 {
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;
    // top: 0;
    left: 0;
    
    @media screen and (max-width: 1199px) {
        width: 75px;
        height: 75px;
    }
    @media screen and (max-width: 767px) {
        width: 56px;
        height: 56px;
    }
    @media screen and (max-width: 479px) { 
        width: 45px;
        height: 45px;
    }
}
.space-ship-1 {
    background-image: url(../images/ships/ship01.png);
    
    &--animate {
        animation: spaceShipMove 10s linear infinite;
    }
}
.space-ship-2 {
    background-image: url(../images/ships/ship04.png);
    transform: scaleX(-1);

    &--animate {
        animation: spaceShipMoveReverse 10s linear infinite;
    }
}
.space-ship-3 {
    background-image: url(../images/ships/ship05.png);

    &--animate {
        animation: spaceShipMove 10s linear infinite;
    }
}
.space-ship-4 {
    background-image: url(../images/ships/ship06.png);
    transform: scaleX(-1);
    
    &--animate {
        animation: spaceShipMoveReverse 10s linear infinite;
    }
    &::before {
        display: block;
        content: "";
        width: 100%;
        height: 110%;
        background-image: url(../images/ships/ship06a.png);
        background-size: cover;
        position: relative;
        transform: translate(-100%, -100%);
    }
    &::after {
        display: block;
        content: "";
        width: 100%;
        height: 25%;
        position: relative;
        border-top: 2px dashed red;
        border-bottom: 2px dashed red;
        transform: translate(-75%, -425%) rotate(45deg);
        clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
        animation: starWarsFire 1s linear infinite;
     }
}
.fild {
    max-width: 1200px;
    margin: 100px auto 0 auto;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 991px) { margin-top: 80px; }
    &--start {
        margin-top: 0;
        overflow: visible;
        text-align: center;
    }
}
.fild-grid {
    display: flex;
    flex-direction: column;
    // flex-direction: row-reverse;
}
.galaxy {
    background-size: cover;
    background-position: center;
    box-shadow: 0 100px 70px -25px #000 inset, 0 -100px 70px -25px #000 inset;

    &--bg-finish {
        background-image: url(../images/bg/galaxy-finish.jpg);
        
        @media screen and (max-width: 479px) { background-position: 25%; }
    }  
    &--bg-5 { background-image: url(../images/bg/galaxy05.jpg); }  
    &--bg-4 { background-image: url(../images/bg/galaxy04.jpg); }  
    &--bg-3 { background-image: url(../images/bg/galaxy03.jpg); }  
    &--bg-2 { background-image: url(../images/bg/galaxy02.jpg); }  
    &:nth-last-child(2) { background-image: url(../images/bg/galaxy01.jpg); }  
    &:last-child {
        background-image: url(../images/bg/galaxy-start.jpg);
        box-shadow: 0 100px 70px -25px #000 inset;
        background-size: auto;
        background-position: 25%;
    }  
}
.fild-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   

    &--reverse { flex-direction: row-reverse; }
    
}
.sector {
    flex-grow: 1;
    width: 33.33333%;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    position: relative;

    @media screen and (max-width: 575px) { height: 300px; }
    &.start,
    &.finish {
        width: 100%;
    }
}
.planet-block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    transform: translate(-50%, -50%) rotate(-10deg);
    
    @media screen and (max-width: 1199px) {
        width: 150px;
        height: 150px;
    }
    @media screen and (max-width: 767px) {
        width: 100px;
        height: 100px;
    }
    @media screen and (max-width: 479px) {
        width: 70px;
        height: 70px; 
    }
    &[data-score='1'] {
        & .planet {
            background-image: url(../images/map/data01.jpg);
            transform: scale(0.4);           
        }        
    }
    &[data-score='2'] {
        & .planet {
            background-image: url(../images/map/data02.jpg);
            transform: scale(0.5);
        } 
    }
    &[data-score='3'] {
        & .planet {
            background-image: url(../images/map/data03.jpg);
            transform: scale(0.7);
        } 
    }
    &[data-score='4'] {
        & .planet {
            background-image: url(../images/map/data04.jpg);
            transform: scale(0.6);
        } 
    }
    &[data-score='5'] {
        & .planet {
            background-image: url(../images/map/data05.png);
            width: 269px;
            height: 200px;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            position: relative;
            animation: none;

            @media screen and (max-width: 1199px) {
                width: 200px;
                height: 148px;
            }
            @media screen and (max-width: 767px) {
                width: 150px;
                height: 111px;
            }
            @media screen and (max-width: 575px) {
                width: 120px;
                height: 89px;
            }
            @media screen and (max-width: 479px) { 
                width: 100%;
                height: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                width: 70px;
                height: 70px;
                box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9),
                  inset -3px 0 5px 2px rgba(255,255,255,0.16);
                background-size: 190px;
                background-image: url(../images/map/data05a.jpg);
                margin: 80px auto;
                border-radius: 50%;
                animation-name: move,scale,rotate;
                animation-duration: 4s,4s,4s;
                animation-iteration-count: infinite,infinite,infinite;
                animation-timing-function: ease-in-out,linear,linear;

                @media screen and (max-width: 1199px) {
                    width: 55px;
                    height: 55px;
                }
                @media screen and (max-width: 767px) {
                    width: 40px;
                    height: 40px;
                }
                @media screen and (max-width: 575px) {
                    width: 30px;
                    height: 30px;
                }
                @media screen and (max-width: 479px) { 
                    width: 20px;
                    height: 20px;
                }
            }
        } 
    }
    &[data-score='6'] {
        & .planet {
            background-image: url(../images/map/data06.jpg);
            transform: scale(1.2);
        } 
    }
    &[data-score='7'] {
        & .planet {
            background-image: url(../images/map/data07.jpg);
            transform: scale(1);
            transform-style: preserve-3d;

            &::after {
                @extend %plane-circle;
            }
        } 
    }
    &[data-score='8'] {
        & .planet {
            background-image: url(../images/map/data08.jpg);
            transform: scale(0.8) rotate( -65deg);
            transform-style: preserve-3d;

            &::after {
                @extend %plane-circle;
            }
        } 
    }
    &[data-score='9'] {
        & .planet {
            background-image: url(../images/map/data09.jpg);
            transform: scale(0.8);
        } 
    }
    &[data-score='10'] {
        & .planet {
            position: absolute;
            width: 0;
            height: 200px;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            animation: cometMove 1.5s ease-in-out infinite;
            background-image: url(../images/map/data10.png);
        } 
    }
    &[data-score='11'] {
        & .planet {
            background-image: url(../images/map/data11.jpg);
            transform: scale(0.6);
        } 
    }
    &[data-score='12'] {
        & .planet {
            position: absolute;
            background-image: url(../images/map/data12.png);
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            border-radius: initial;
            animation: stationMove 10s linear infinite;
        } 
    }
    &[data-score='13'] {
        & .planet {
            background-image: url(../images/map/data13.jpg);
            transform: scale(0.8);
            position: relative;
            transform-style: preserve-3d;

            &::after {
                @extend %plane-circle;
            }
        } 
    }
    &[data-score='14'] {
        & .planet {
            background-image: url(../images/map/data14.jpg);
            transform: scale(1.2);
        } 
    }
    &[data-score='15'] {
        & .space-ship {
            width: 50%;
            height: 50%;
            background-image: url(../images/ships/ship02.png);
            background-size: cover;
            position: absolute;
            top: -25%;
            left: 100%;
            transform: translateX(300%);
            transition-duration: 1s;

            &--animate { transform: translateX(0); }
            &:first-child { top: 10%; left: 85%; }
            &:last-child { top: -60%; left: 70%; }
        } 
    }
    &[data-score='16'] {
        & .planet {
            background-image: url(../images/map/data16.jpg);
            transform: scale(1);
        } 
    }
    &[data-score='17'] {
        & .planet {
            background-image: url(../images/map/data17.jpg);
            transform: scale(0.7);
        } 
    }
    &[data-score='18'] {
        & .planet {
            background-image: url(../images/map/data18.jpg);
            transform: scale(0.5);
        } 
    }
    &[data-score='19'] {
        & .planet {
            position: absolute;
            background-image: url(../images/map/data19.png);
            width: 70px;
            height: 70px;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            animation: stationMove 10s linear infinite, rubbishRotate 2s linear infinite;
        
            @media screen and (max-width: 1199px) {
                width: 55px;
                height: 55px;
            }
            @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
            }
        } 
    }
    &[data-score='20'] {
        & .planet {
            background-image: url(../images/map/data20.jpg);
            transform: scale(0.6);
        }
    }
    &[data-score='21'] {
        & .planet {
            background-image: url(../images/map/data21.jpg);
            transform: scale(0.8);
        } 
    }
    &[data-score='22'] {
        & .planet {
            position: absolute;
            width: 259px;
            height: 200px;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            animation: cometMoveReverse 3s ease-in-out infinite;
            background-image: url(../images/map/data22.png);
        } 
    }
    &[data-score='23'] {
        & .planet {
            background-image: url(../images/map/data23.jpg);
            transform: scale(1);
        } 
    }
    &[data-score='24'] {
        & .planet {
            background-image: url(../images/map/data24.jpg);
            transform: scale(0.7);
        } 
    }
    &[data-score='25'] {
        & .space-ship {
            width: 50%;
            height: 50%;
            background-image: url(../images/ships/ship03.png);
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            animation: none;
            transform: translateX(-250%);
            transition-duration: 1s;

            &--animate { transform: translate(100%, 50%); } 
        }
    }
    &[data-score='26'] {
        & .planet {
            background-image: url(../images/map/data26.jpg);
            transform: scale(0.8) rotate(40deg);
            position: relative;
            transform-style: preserve-3d;

            &::after {
                @extend %plane-circle;
            }
        } 
    }
    &[data-score='27'] {
        & .planet {
            background-image: url(../images/map/data27.jpg);
            transform: scale(0.5);
        } 
    }
    &[data-score='28'] {
        & .planet {
            position: absolute;
            background-image: url(../images/map/data28.png);
            width: 70px;
            height: 70px;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            animation: stationMove 10s linear infinite, rubbishRotate 2s linear infinite;
        
            @media screen and (max-width: 1199px) {
                width: 55px;
                height: 55px;
            }
            @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
            }
        } 
    }
    &[data-score='29'] {
        & .planet {
            background-image: url(../images/map/data29.jpg);
            transform: scale(0.7);
        } 
    }
    &[data-score='30'] {
        & .planet {
            background-image: url(../images/map/data30.jpg);
            transform: scale(1);
        } 
    }
    &[data-score='31'] {
        & .planet {
            background-image: url(../images/map/data31.png);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            animation: asteroidRotate 10s linear infinite;
        }
    }
    &[data-score='32'] {
        & .planet {
            position: absolute;
            background-image: url(../images/map/data32.png);
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            border-radius: initial;
            animation: stationMove 10s linear infinite;
        } 
    }
    &[data-score='33'] {
        & .planet {
            background-image: url(../images/map/data33.jpg);
            transform: scale(1.2) rotate(60deg);
            transform-style: preserve-3d;

            &::after {
                @extend %plane-circle;
            }
        }
    }
    &[data-score='34'] {
        & .planet {
            background-image: url(../images/map/data34.jpg);
            transform: scale(0.6);
        }
    }
    &[data-score='35'] {
        & .planet {
            background-image: url(../images/map/data35.png);
            width: 40%;
            height: 40%;
            margin: 50px;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            border-radius: initial;
            animation: asteroidRotate 10s linear infinite;

            @media screen and (max-width: 767px) {
                margin: 20px;
            }
        }
    }
    &[data-score='36'] {
        & .planet {
            background-image: url(../images/map/data36.jpg);
            transform: scale(0.5);
        }  
        
    }
    &[data-score='37'] {
        & .space-ship {
            width: 100%;
            height: 100%;
            background-image: url(../images/map/data37.png);
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            animation: none;
            transform: translateX(-250%);
            transition-duration: 1s;

            &--animate { transform: translateX(0%); } 
        }
    }
    &[data-score='38'] {
        & .planet {
            background-image: url(../images/map/data38.jpg);
            transform: scale(1.1);
        }   
    }
    &[data-score='39'] {
        & .planet {
            background-image: url(../images/map/data39.jpg);
            transform: scale(0.8);
        }  
    }
    &[data-score='40'] {
        transform: translate(-50%, -50%) rotate(5deg);

        & .planet {
            position: absolute;
            background-image: url(../images/map/data40.png);
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            border-radius: initial;
            animation: planeMove 10s linear infinite;
        }   
    }
    &[data-score='41'] {
        & .planet {
            background-image: url(../images/map/data41.jpg);
            transform: scale(0.6);
        }   
    }
    &[data-score='42'] {
        & .planet {
            background-image: url(../images/map/data42.gif);
            transform: scale(0.7);
            background-position: center;
        }   
    }
    &[data-score='43'] {
        & .planet {
            position: absolute;
            background-image: url(../images/map/data43.png);
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            border-radius: initial;
            animation: stationMove 10s linear infinite;
        }   
    }
    &[data-score='44'] {
        & .planet {
            background-image: url(../images/map/data44.jpg);
            transform: scale(0.6);
        }   
    }
    &[data-score='45'] {
        & .planet {
            background-image: url(../images/map/data45.jpg);
            transform: scale(0.9);
        }   
    }
    &[data-score='46'] {
        left: auto;
        right: 0;

        & .planet {
            position: absolute;
            background-image: url(../images/map/data46.png);
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            border-radius: initial;
            animation: stationMove 10s linear infinite;
        } 
    }
    &--finish { animation: finishMove 3s linear forwards; }
}
.planet {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 400px;
    box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16);
    
    &--animate {
        animation: planetMove 10s linear infinite;
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    
    &--start { background-color: #000; }
    .body {
        padding: 50px;
        margin-top: 100px;
        overflow: hidden;
        box-sizing: border-box; 

        @media screen and (max-width: 767px) {
            padding: 0;
            height: calc(100vh - 80px); 
        }
        @media screen and (max-height: 575px) {
            padding: 0;
            margin-top: 0;
        }
        &--station {
            width: 100%;
            height: calc(100vh - 100px);
            border: 10px groove $colorBorderPanel;
            margin-top: 0;
            background-size: cover;
            background-position: center bottom;
            transform: translateY(-100%);
            animation: panelShow 1s linear 2s forwards;

            @media screen and (max-width: 991px) { height: calc(100vh - 80px); }
            &--reload { background-image: url(../images/quests/reload.jpg); }
            &--ranger { background-image: url(../images/quests/quest5_data12.jpg); }
            &--peling { background-image: url(../images/quests/quest9_data24.jpg); }
            &--science { background-image: url(../images/quests/quest13_data32.jpg); }
            &--destroyer {
                background-image: url(../images/quests/quest15_data39.jpg);
                background-position: 70% bottom;
            }
            &--death-star { background-image: url(../images/quests/quest17_data43.jpg); }
            &--tatooine { background-image: url(../images/quests/quest21_data45.jpg); }   
            &--finish { background-image: url(../images/quests/questFinish_data46.jpg); }
            @media screen and (max-width: 767px) {
                background-image: none;
                border: none;
            }
        }
    }
    .start {
        padding-top: 100px;
        height: 100vh;
        color: #000;
        background-image: url(../images/bg/start.jpg);
        background-position: center;
        background-size: cover;
        
        @media screen and (max-height: 575px) { padding-top: 20px; }
        h1 {
            font-size: 72px;
            text-align: center;
            color: #fff;
            letter-spacing: 2px;
            border: 5px groove $colorBorderPanel;
            border-radius: 50px;
            padding: 10px 80px 10px 0;
            background-color: $colorBgPanel;
            position: relative;

            @media screen and (max-width: 1199px) { font-size: 60px; }
            @media screen and (max-width: 991px) { font-size: 45px; }
            @media screen and (max-width: 767px) { font-size: 32px; }
            @media screen and (max-width: 575px) {
                font-size: 25px;
                padding-right: 60px;
            }
            @media screen and (max-width: 479px) {
                font-size: 14px;
                padding-right: 40px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
                width: 70px;
                height: 70px;
                box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9),
                  inset -3px 0 5px 2px rgba(255,255,255,0.16);
                background-size: 200px;
                background-image: url(../images/map/data03.jpg);
                border-radius: 50%;
                animation: planetMove 10s linear infinite;

                @media screen and (max-width: 1199px) {
                    width: 55px;
                    height: 55px;
                }
                @media screen and (max-width: 767px) {
                    width: 50px;
                    height: 50px;
                }
                @media screen and (max-width: 575px) {
                    width: 40px;
                    height: 40px;
                }
                @media screen and (max-width: 479px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__link {
            display: inline-block;
            font-size: 24px;
            color: #000;
            text-decoration: none;
            margin-bottom: 30px;
            position: relative;
            
            @media screen and (max-width: 991px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 767px) { margin-bottom: 10px; }
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 2px;
                background-color: #000;
                transition-duration: 0.3s;
            }
            &::before { left: -60px; }
            &::after { right: -60px; }
            &:hover::before,
            &:focus::before { width: 30px; left: -40px; }
            &:hover::after,
            &:focus::after { width: 30px; right: -40px; }
        }
        &__btn {
            display: block;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            border: 5px groove $colorBorderPanel;
            border-radius: 50px;
            padding: 20px 30px;
            background-color: $colorBgPanel;
            outline: none;
            margin: 0 auto;
            cursor: pointer;

            @media screen and (max-width: 991px) { font-size: 30px; }
            @media screen and (max-width: 767px) { font-size: 24px; }
            @media screen and (max-height: 479px) {
                font-size: 20px;
                padding: 15px 20px;
            }
            &:focus, &:hover { box-shadow: 0 0 10px $colorBorderPanel inset; }
        }
    }
}
.start-grid {
    display: flex;
    margin: 100px -15px 80px -15px;
    
    @media screen and (max-width: 767px) { 
        // flex-direction: column;
        // align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    @media screen and (max-height: 479px) {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    &__block {
        flex-grow: 1;
        width: 33.333333%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 767px) {
            width: 50%;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        @media screen and (max-height: 575px) {
            width: 33.333333%;
            padding: 0 15px;
        }
        @media screen and (max-width: 479px) {
            width: 100%;
            padding: 0;

            &:first-child { display: none; }
        }
        @media screen and (max-height: 479px) {
            width: 50%;
            padding: 0;

            &:first-child { display: none; }
        }
        
    }
    h2, label {
        font-size: 20px;
        color: #fff;
        text-shadow: 0 0 10px #000;
        letter-spacing: 2px;
        text-align: center;
        padding: 0;
        margin: 0 0 20px 0;

        @media screen and (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 5px;
        }
        @media screen and (max-width: 479px) { font-size: 14px; }
        @media screen and (max-height: 479px) { font-size: 14px; }
    }
    .input-name,
    .input-music {
        width: 200px;
        color: #fff;
        background-color: #000;
        padding: 10px 5px;
        margin: 0 0 10px 0;
        border: 2px ridge #1d77bd;
        font-size: 16px;
        
        &:focus, &:hover { border-color: $colorBorderPanel; }
        &.error { border-color: red; }
    }
    .input-music { width: 20px; }
}
.start-carousel {
    width: 100px;
    background-color: #000;
    padding: 5px;
    border: 2px ridge #1d77bd;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 767px) { width: 80px; }
    @media screen and (max-height: 479px) { width: 70px; }
    img {
        display: block;
        width: 100%;
    }
    .slick-slide { float: left; }
    .slick-list { overflow: hidden; }
    .slick-arrow {
        position: absolute;
        top: 50%;
        height: 50%;
        width: 50px;
        padding: 0;
        z-index: 1;
        overflow: hidden;
        background-color: transparent;
        background-image: url(../images/svg/play-button.svg#play);
        background-position: center;
        background-size: cover;
        border: none;
        color: transparent;
        cursor: pointer;
        outline: none;
        transition-duration: 0.3s;

        &:focus, &:hover { width: 55px; background-image: url(../images/svg/play-button.svg#play-hover); }
        &.slick-prev { left: 0px; transform: translate(-100%, -50%) rotate(180deg); }
        &.slick-next { right: 0px; transform: translate(100%, -50%); }
    }
}
.panel-block {
    display: flex;
    border-radius: 10px;
    border: 10px groove $colorBorderPanel;
    background-color: #003045;
    transform: translateY(-150%);
    animation: panelShow 1s linear 2s forwards;
    box-sizing: border-box;

    @media screen and (max-height: 575px) { height: 100%; }
    @media screen and (max-height: 479px) { border-width: 5px; }
    &__col {
        width: 60%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @media screen and (max-width: 575px) { padding: 10px 5px; }
        @media screen and (max-width: 479px) { width: 100%; }
        @media screen and (max-height: 479px) { width: 70%; }
        &--photo {
            width: 40%;
            flex-grow: 0;

            @media screen and (max-width: 479px) { display: none; }
            @media screen and (max-height: 479px) { width: 30%; }
        }
    }
}
.panel {
    text-align: center;
    background-color: $colorBgPanel;
    border: 5px ridge $colorBorderPanel;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: -10px 0 20px 0;
    padding: 10px 20px;
    box-sizing: border-box;
    
    @media screen and (max-width: 991px) { padding: 10px; }
    @media screen and (max-height: 575px) { max-height: 85%; }
    @media screen and (max-height: 479px) {
        max-height: 82%;
        overflow-y: auto;
        margin-bottom: 10px;
    }
    &--down {
        border: 5px ridge $colorBorderPanel;
        border-bottom: none;
        border-radius: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-top: auto;
        margin-bottom: -10px;

        @media screen and (max-height: 479px) { padding: 5px; }
    }
    &--border { border: none; }
    &__photo {
        display: none;
        width: 100%;
        border: 5px ridge #c8b678;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-sizing: border-box;

        &--show { display: block; }
    }
    &__alert {
        font-size: 24px;
        font-weight: 700;
        color: $colorTextQuest;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        animation: panelAlert 0.5s linear infinite;
        
        @media screen and (max-width: 767px) { font-size: 20px; }
        @media screen and (max-width: 575px) { font-size: 18px; }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 50px;
            height: 2px;
            background-color: red;
            animation: anderLine 0.5s linear infinite;
        }
    }
    &__text {
        max-height: 400px;
        padding-right: 10px;
        overflow-y: auto;
        margin: 40px 0;
        
        @media screen and (max-width: 991px) { padding-right: 0; }
        @media screen and (max-width: 767px) { 
            max-height: 500px;
            margin: 20px 0;
        }
        @media screen and (max-height: 479px) { margin: 10px 0; }
        p, a, pre {
            font-size: 16px;
            line-height: 22px;
            color: $colorTextQuest;
            text-align: justify;
            margin: 0 0 15px 0;

            @media screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 479px) {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 5px;
            }
            @media screen and (max-height: 479px) { 
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 5px; 
            }
        }
        p:last-child { margin-bottom: 0; }
        a {
            color: $colorTextQuestImportant;
        }
    }
    &__input {
        width: 100px;
        padding: 5px;
        color: $colorTextQuest;
        background-color: lighten($colorBgPanel, 5%);
        border-style: solid;
        border-color: $colorTextQuestImportant;
    }
    &__list {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: $colorTextQuestImportant;

        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 20px;
        }
        @media screen and (max-width: 575px) {
            font-size: 12px;
            line-height: 18px;
        }
        li {
            margin-bottom: 10px;

            &:last-child { margin-bottom: 0; }
        }
    }
    &__btn {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1px;
        color: rgb(36, 35, 35);
        text-transform: uppercase;
        background: linear-gradient(175deg, rgba(150,219,219,1) 0%, rgba(35,69,69,1) 80%);
        border-color: $colorBorderPanel;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
            padding: 5px;
        }
        @media screen and (max-width: 575px) { font-size: 8px; }
        &:focus, &:hover { box-shadow: 0 0 7px #000 inset; }
        &:disabled {
            background: #ccc;
            cursor: default;
            
            &:focus, &:hover { box-shadow: none; }
        }
    }
}
.important { color: $colorTextQuestImportant !important; }
.list-question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 22px;
    color: $colorTextQuest;
    text-align: left;
    
    @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
    @media screen and (max-width: 575px) {
        font-size: 12px;
        line-height: 18px;
    }
    input {
        margin-right: 15px;
    }
}
.panel-carousel {
    position: relative;
    padding-bottom: 20px;

    @media screen and (max-height: 479px) { height: 85%;}
    &__block {
        padding-left: 20px;
        outline: none;
        overflow-y: auto;

        @media screen and (max-width: 575px) { padding-left: 15px; }
        @media screen and (max-height: 575px) { max-height: 278px; }
        @media screen and (max-height: 479px) { max-height: 135px; }
    }
    .slick-slide { float: left; }
    .slick-list { overflow: hidden; }
    .slick-disabled { display: none !important; }
    .slick-arrow {
        position: absolute;
        bottom: 0;
        padding: 0;
        z-index: 1;
        overflow: hidden;
        border-color: transparent;
        color: $colorTextQuestImportant;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        &:focus, &:hover { border-bottom-color: $colorTextQuestImportant; }
        &.slick-prev { left: 30%; }
        &.slick-next { left: 60%; }
    }
}
.station-block {
    max-width: 600px;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 5px ridge $colorBorderPanel;
    padding:  10px;
    background-color: $colorBgPanel;

    @media screen and (max-width: 1199px) { max-width: 550px; }
    @media screen and (max-width: 991px) { max-width: 450px; }
    @media screen and (max-width: 767px) {
        max-width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}
.quest-form {
    margin: 20px 0;

    @media screen and (max-height: 479px) { margin: 10px 0; }
    &--hidden { display: none;}
    label {
        display: block;
        text-align: left;
        font-size: 16px;
        color: $colorTextQuest;
        margin: 0 0 10px 0;

        @media screen and (max-width: 767px) { font-size: 14px; }
        @media screen and (max-width: 479px) { font-size: 12px; }
    }
    &__btn {
        margin: 10px 0 0 0;
        text-transform: uppercase;
        overflow: hidden;
        border-color: transparent;
        color: $colorTextQuestImportant;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        &:focus, &:hover { border-bottom-color: $colorTextQuestImportant; }
    }
}
/* ----------------about page----------------- */
.mainer {
    height: 100vh;
    background-color: #000;
    display: flex;
    padding: 30px;
    box-sizing: border-box;

    @media screen and (max-width: 991px) {
        padding: 20px;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 575px) { padding: 0; }
    @media screen and (max-height: 575px) { padding: 0; }
}
.aside-menu {
    width: 20%;
    background-color: $colorBgPanel;
    padding: 40px 20px 20px 30px;
    box-sizing: border-box;
    margin-right: 30px;
    border: 5px groove $colorTextQuestImportant;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    @media screen and (max-width: 1199px) {
        padding-left: 15px;
        padding-right: 10px;
        margin-right: 20px;
    }
    @media screen and (max-width: 991px) {
        width: 100%;
        padding: 40px 10px 10px 10px;
        margin-right: 0;
        margin-bottom: 10px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 0;
    }
    @media screen and (max-width: 767px) { padding-top: 20px; }
    @media screen and (max-height: 575px) { height: 80px; }
    @media screen and (max-width: 479px) { height: 90px; }
    & .slick-dots {
        list-style-type: none;
        padding: 0;
        margin: 0;

        @media screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
        }
        @media screen and (max-width: 767px) { 
            flex-wrap: wrap;
            max-width: 320px;
            height: 100%;
            margin: 0 auto;
        }
        @media screen and (max-width: 479px) { justify-content: space-between; }
        @media screen and (max-height: 575px) { max-width: 100%; }
        li {
            display: flex;
            align-items: center;
            margin: 0 0 10px 0;
            
            @media screen and (max-width: 991px) { margin: 0 15px; }
            @media screen and (max-width: 767px) {
                width: 50%;
                margin: 0;
            }
            @media screen and (max-width: 479px) { 
                margin-bottom: 10px;

                &:nth-last-child(2) { margin-bottom: 0; }
            }
            @media screen and (max-height: 575px) {
                width: fit-content;
                margin-right: 20px;
                
                &:last-child { margin-right: 0; }
            }
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 15px;
                height: 15px;
                background-image: url(../images/svg/plus.svg#plus);
                margin-right: 10px;
                transition-duration: 0.3s;

                @media screen and (max-width: 991px) {
                    width: 20px;
                    height: 20px;
                }
                @media screen and (max-width: 479px) { margin-right: 7px; }
                @media screen and (max-height: 479px) { margin-right: 5px; }
            }
            &:last-child { margin-bottom: 0; }
            button {
                font-size: 16px;
                overflow: hidden;
                border: none;
                color: $colorTextQuest;
                background-color: transparent;
                cursor: pointer;
                outline: none;

                @media screen and (max-width: 1199px) { padding: 0; }
                @media screen and (max-width: 991px) { font-size: 18px; }
                @media screen and (max-width: 479px) { font-size: 16px; }
                &:focus, &:hover { color: $colorTextQuestImportant; }
            }
            &.slick-active {

                &::before { 
                    background-image: url(../images/svg/plus.svg#plus-active);
                    transform: rotate(45deg); 
                }
            }
        }
    }
}
.main {
    width: 80%;
    background-color: $colorBgPanel;
    padding: 40px;
    box-sizing: border-box;
    border: 5px groove $colorTextQuestImportant;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

    @media screen and (max-width: 991px) {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 50px;
    }
    @media screen and (max-width: 767px) { padding: 20px; }
    @media screen and (max-height: 575px) { height: calc(100vh - 90px); }
    @media screen and (max-width: 479px) { 
        height: calc(100vh - 100px);
        padding: 10px;
    }
}
.main-carousel {

    .slick-slide { float: left; }
    .slick-list { overflow: hidden; }
    .article {
        max-height: 800px;
        outline: none;
        overflow-y: auto;

        @media screen and (max-width: 991px) { height: calc(100vh - 250px); }
        @media screen and (max-height: 575px) { height: calc(100vh - 140px); }
        &__caption {
            font-size: 24px;
            font-weight: 700;
            color: $colorTextQuestImportant;
            padding: 0;
            margin: 0 0 30px 0;

            @media screen and (max-width: 767px) { margin: 0 0 20px 0; }
            @media screen and (max-height: 479px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &__text {
            padding: 30px 0;
            border-top: 1px dashed $colorTextQuest;
            border-bottom: 1px dashed $colorTextQuest;
            margin: 0 0 30px 0;

            @media screen and (max-width: 767px) {
                padding: 20px 0;
                margin: 0 0 20px 0;
            }
            @media screen and (max-height: 479px) {
                padding: 10px 0;
                margin-bottom: 10px;
            }

            &:last-child { margin-bottom: 0; }
        }
        &__control { min-height: 100px; }
        &__map { position: relative; }
        p {
            font-size: 16px;
            line-height: 25px;
            color: $colorTextQuest;
            text-align: justify;
            padding: 0 10px;
            margin: 0 0 10px 0;

            @media screen and (max-width: 575px) { font-size: 14px; }
            &:last-child { margin: 0; }
        }
        img {
            float: left;
            margin: 0 15px 0 0;

            @media screen and (max-width: 767px) {
                height: 70px;
            }
        }
        a {
            font-size: inherit;
            color: $colorTextQuestImportant;
            text-decoration: none;

            &:hover, &:focus { text-decoration: underline; }
        }
    }
}
.map {
    display: block;
    width: 100%;
    height: 335px;

    .gmnoprint { display: none; }

    @media screen and (max-height: 479px) { height: 200px; }
}
.infowindow {
    list-style: none;
    margin: 0;
    padding: 0 25px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 270px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 991px) { 
        font-size: 14px; 
        width: 266px;
        padding: 0 15px;
    }
    @media screen and (max-width: 767px) {
        top: 0;
        left: 0;
        transform: translate(0);
    }
    @media screen and (max-width: 575px) { width: 235px; }
    &.hide { display: none; }
    &__block {
        font-size: 16px;
        color: #000;
        margin: 25px 0;

        @media screen and (max-width: 991px) { margin: 15px 0; }
        @media screen and (max-width: 767px) { margin: 10px 0; }
        @media screen and (max-width: 575px) { font-size: 14px; }
    }
}
/* ----------------ie page----------------- */
@import "_ie";
/* ----------------mobile page----------------- */
@import "_mobile";
/* ------------------------------------------- */
@keyframes planeMove {
    0% { transform: translateX(-10px) rotateY(20deg); }
    50% { transform: translateZ(50px) translateX(10px) rotateY(-20deg); }
    100% { transform: translateX(-10px) rotateY(20deg); }
}
/* space-ships */
@keyframes spaceShipMove {
    0% { left: -200%; }
    100% { left: 100%; margin-top: 800px; }
}
@keyframes spaceShipMoveReverse {
    0% { left: 200%; margin-top: -800px; }
    100% { left: -100%; }
}
@keyframes starWarsFire {
    0% { clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%); }
    100% { clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%); }
}
@keyframes planetMove {
    0% { background-position: 0px; }
    100% { background-position: 400px; }
}
/* satellite */
@keyframes move {
    0% { top: 100px; left: 0; }  
    70% { top: -150px; left: 100px; }
    100% { top: 100px; left: 0; }
}
@keyframes scale {
    0% { transform: rotate(45deg) scale(1); }
    32% { transform: rotate(45deg) scale(0); animation-timing-function: ease-in; }
    70% { transform: rotate(45deg) scale(1); animation-timing-function: ease-in; }
    75% { transform: rotate(45deg) scale(1.2); animation-timing-function: ease-in-out; }
    86% { transform: rotate(45deg) scale(1.5); }  
    98% { transform: rotate(45deg) scale(1.2); }
    100% { transform: rotate(45deg) scale(1); }
}
@keyframes rotate {
    0% { background-position: 0px; }
    100% { background-position: 190px; }
}
/* comet */
@keyframes cometMove {
    0% { transform: scale(0); top: -100%; left: -100%; }  
    50% { transform: scale(1); width: 200px; }  
    100% { transform: scale(0); top: 100%; left: 100%; width: 200px; }
}
@keyframes cometMoveReverse {
    0% { transform: scale(0); top: -100%; left: 100%; }  
    50% { transform: scale(1); }  
    100% { transform: scale(0); top: 100%; left: -100%; }
}
/* station */
@keyframes stationMove {
    0% { left: 0; top: -20%; }   
    25% { left: -20%; top: 0; }   
    50% { left: 0; top: 20%; }   
    75% { left: 20%; top: 0; }   
    100% { left: 0; top: -20%; }
}
/* asteroid */
@keyframes asteroidRotate {
    0% { transform: rotateX(45deg) scale(1.5) rotate(0); }
    100% { transform: rotateX(45deg) scale(1.5) rotate(360deg); }
}
/* rubbish */
@keyframes rubbishRotate {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
/* panel */
@keyframes panelShow {
    100% { transform: translateY(0); }
}
/* panel-alert */
@keyframes panelAlert {
    100% { color: red; }
}
@keyframes anderLine {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
/* finishMove */
@keyframes finishMove {
    0% { right: 0; transform: translate(-50%, -50%) rotate(0) scale(1); }
    100% { right: 65%; transform: translate(-50%, -30%) rotate(0) scale(0); }
}
/* body bg stars*/
@keyframes stars {
    0% { 
        opacity: 0; 
        transform: translateY(0);
    }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% {
        opacity: 0; 
        transform: translateY(-100px); 
    }
}